---
const navItems = [
  { href: '/', label: 'Home' },
  { href: '/blog', label: 'Blog' },
  { href: '/resources', label: 'Resources' },
  { href: '/about', label: 'About' }
];
---

<ul class="flex space-x-6">
  {navItems.map(item => (
    <li>
      <a href={item.href} class="hover:text-purple-200">{item.label}</a>
    </li>
  ))}
</ul>