---
const socialLinks = [
  { href: 'https://x.com/LearnersDen', label: 'Twitter' },
  { href: 'https://discord.com/invite/z4s3hFDw', label: 'Discord' },
  { href: 'https://x.com/LearnersDen', label: 'GitHub' }
];
---

<div>
  <h3 class="text-xl font-bold mb-4">Connect</h3>
  <ul class="space-y-2">
    {socialLinks.map(link => (
      <li>
        <a href={link.href} class="hover:text-purple-300">{link.label}</a>
      </li>
    ))}
  </ul>
</div>